version: '3.8'

services:
  telegram-bot:
    build: .
    container_name: telegram-autopost-bot
    restart: unless-stopped
    environment:
      - TOKEN=${TOKEN}
      - OWNER_ID=${OWNER_ID}
    env_file:
      - .env
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

